@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input {
    @apply w-full border rounded px-2 py-1.5 text-sm;
  }
}

body {
  font-family:
    "Inter",
    system-ui,
    -apple-system,
    sans-serif;
}
